.customCarousel {
  position: relative;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  z-index: -1; /* Place carousel behind the navbar */
  /* margin: 0px auto; */
  align-items: center;
  justify-self: center;
  border-radius: 15px;
  max-width: 100%;
}

.carouselInner {
  border-radius: 15px;
}

.carousel-item img {
  border-radius: 15px;
  height: auto;
}
